@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$container: 1290px;
$bigContainer: 1576px;

// colors
$color-black: #000000;
$color-black-light: #444444;
$color-white: #FFFFFF;
$color-grey: #EFEFEF;
$color-grey-light: #FBFBFB;
$color-yellow: #FED95A;
$color-green: #20a052;
$color-messanger: #1787FB;
$color-viber: #7B549C;
$color-whatsapp: #3FE17E;

$color-green-hover: #1ab147;
//fonts
$font-main: 'Inter UI', sans-serif;
